/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.container{
		width: 97rem;
		margin: auto;
	}
	.col-lg-12{width: 100%;}
	.col-lg-9{width: 75%;}
	.col-lg-3{width: 25%;}
	header {
		height: 55vh;
		z-index: -9999;
	}
	.logo {
		margin-top: 1rem;
		text-align: center;
	}
	.hero-text {
		text-align: center;
		position: absolute;
		top: 25%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
		width: 55%;
	}

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	header {
		height: 55vh;
		z-index: -9999;
	}
	.container{width: 75rem;}
	.col-md-12{width: 100%;}
	.col-md-9{width: 75%;}
	.col-md-3{width: 25%;}
	.col-md-4{width: 33.33%;}
	.d-none{display: none;}
	.logo {
		margin-top: 1rem;
		text-align: center;
	}
	.manu nav ul li {
		margin-right: 1.3rem;
		position: relative;
	}
	.language, .header-button {
		float: right;
	}
	.hero-text {
		text-align: center;
		position: absolute;
		top: 28%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
		width: 75%;
	}
	.single-services a.btn {
		background: #f3a032;
		padding: 1.5rem 2.5rem;
		display: inline-block;
		font-size: 1.4rem;
		text-transform: uppercase;
		color: #fff;
		font-weight: 500;
		border-radius: 3.5rem;
		margin-right: 1rem;
		-webkit-transition: all.5s ease;
		-o-transition: all.5s ease;
		transition: all.5s ease;
	}
	.single-services {
		padding: 2rem 1.5rem;
		background: #fff;
		-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.2);
		        box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.2);
		-webkit-transition: .5s ease;
		-o-transition: .5s ease;
		transition: .5s ease;
	}
	.actives {
		background: #f3a032;
	}
	.choose-wapper > p {
		margin-top: 1rem;
		font-size: 1.6rem;
		margin-bottom: 0;
	}
	.advertisers-test {
		padding-top: 8rem;
	}
	.mobile > img {
		width: 35rem !important;
		height: 65rem !important;
		display: inline-block !important;
	}
	.Publishers-hero {
		width: 68%;
		text-align: center;
		margin-left: 16%;
	}
	.copyright {
		text-align: center;
		width: 68%;
		margin-left: 16%;
		display: inline-block;
	}
}

 
/* small mobile :320px. */
@media (max-width: 768px) {
	.container{width: 100%;padding: 0 1.5rem;}
	header {
		background-image: url(img/bg-banner.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center center;
		height: 40vh;
		z-index: -9999;
		padding-top: 1rem;
	}
	.col-sm-12{width: 100%;}
	.col-sm-3{width: 40%;}
	.col-sm-9{width: 60%;}
	.logo {
		margin-top: 3rem;
	}
	.logo img {
		width: 15rem;
		height: auto;
	}
	.header-right {
		text-align: right;
		float: right;
		margin-top: 2.5rem;
	}
	.meanmenu-reveal {
		right: 1rem !important;
	}
	.header-button a {
		color: #fff;
		background: #f3a032;
		padding: 1rem 2rem;
		border-radius: 3.5rem;
		font-weight: 500;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
	}
	.header-button a, .language ul li a {
		color: #fff;
		font-size: 1.4rem;
		font-weight: 400;
		padding: 1rem 2rem;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
	}
	.services-area {
		z-index: 9999;
		margin-top: -7.5rem;
		padding-bottom: 1.5rem;
	}
	.single-services {
		margin-bottom: 5rem;
	}

	.hero-text {
		text-align: center;
		position: absolute;
		top: 20%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
		width: 100%;
	}
	.hero-text h1 {
		color: #fff;
		font-size: 4rem;
		font-weight: 700;
	}
	.why-we-text {
		text-align: center;
		width: 90%;
		margin-left: 5%;
	}
	h2 {
		font-size: 3.8rem;
		font-weight: 700;
		text-transform: capitalize;
		margin-bottom: 3rem;
	}
	.advertisers-test {
		padding-top: 20.7rem;
		margin-bottom: 3rem;
	}
	.mobile {
		text-align: center;
	}
	.mobile > img {
		width: 35rem !important;
		height: 60rem !important;
		display: inline-block !important;
	}
	.Publishers-hero {
		width: 90%;
		text-align: center;
		margin-left: 5%;
	}
	.about-hero {
		width: 90%;
		margin-left: 5%;
	}
	.about-wapper {
		margin-top: 10rem;
		text-align: center;
	}
	.activate {
		text-align: center;
	}
	.map-address {
		background: #fff;
		color: #000;
		width: 100%;
		margin-left: 0;
		text-align: center;
		padding: 5rem 0;
	}
	.copyright {
		text-align: center;
		width: 100%;
		margin-left: 0;
		display: inline-block;
	}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}